@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
* {
    font-family: 'Zen Kurenaido', sans-serif
}
html {
    background-color: #fdf97d ;
}
h1 {
    text-align: center ;
    background-color: lightsalmon;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    display: inline ;
    padding: 40px ;
    
}

